h1{
    color:green;
}



.visited:visited{
    color:red;
}

:focus{
    outline: 1px solid red;
}


.vaikai p:first-of-type{
    background-color: red;
}
.vaikai p:nth-child(3){
    background-color: green;
}
.vaikai p:nth-child(4){
    font-weight: bold;
}
.vaikai p:nth-child(5){
    font-weight: lighter;
}

body{
    text-align: center;
}

.first_line .paragrafai p:first-child::first-line{
    color: red;
    font-weight: bold;
}
.first_line .paragrafai p:nth-child(2)::first-line{
    color: green;
    font-weight: lighter;
}

.tekstas_:hover{
    background-color: yellow;
    font-weight: bolder;
}

.active_tekstas:active{
    font-weight: bold;
    color: purple;
}